@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  body {
    @apply bg-gradient-to-br from-[#0A2E5C] via-[#2D7F7D] to-[#7FB881] min-h-screen text-white antialiased;
    font-family: var(--font-ibm-plex-sans), sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}